<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li class=" <%= 'active' if params[:tab] == 'login' or current_page?(new_user_session_path) %>"><%= link_to 'ログイン', new_user_session_path %></li>
      <li class=" <%= 'active' if params[:tab] == 'signup' or current_page?(new_user_registration_path) %>"><%= link_to '登録', new_user_registration_path %></li>
    </ul>
  </div>
</div>