<div class="col-xs-12">
    <div class="row"><h4>ユーザー</h4></div>
</div>

<% @users.in_groups_of(4, false) do |row| %>
    <div class="col-sm-12 users_row">
        <% row.each do |user| %>
        <div class="col-sm-3 users_each">
            <table>
                <tr>
                    <td class="users_index_avator"><%= link_to profile_img(user), "#" %></td>
                    <td class="users_index_name"><%= link_to user.name, "#" %><br/><%= user.score %></td>
                </tr>
            </table>
        </div>
        <% end %>
    </div>
<% end %>