.top_menu {
  margin: 10px 10px 30px;
}

.field {
  padding: 5px;
  margin: 10px;
}

.contribution_up {
  margin-top: -10px;
}


a i:active {
  color: orange;
}

// tag-itのauto complete用のヘルプメッセージを非表示にする
.ui-helper-hidden-accessible {
  display: none;
}

@mixin menu-tab-top-border {
    border-top-color: orange;
    border-top-width: 3px;
    border-radius: 0;
}
.nav-tabs > li.active > a {
    @include menu-tab-top-border;
    &:hover {
        @include menu-tab-top-border;
    }
}