.question_title {
    border-bottom: 1px solid #e0e0e0;
    padding: 40px 0 10px 0;
    margin-bottom: 10px;
    font-size: 150%;
}

.font_grey {
    color: #999999;
}

.question_contribution {
    display: block;
    font-size: 110%;
    width: 25px;
    text-align: center;
}

.favorite_count {
    display: block;
    font-size: 110%;
    width: 25px;
    text-align: center;
    margin-top: -10px;
}

.question_content {
    display: block;
    min-height: 200px;
}

.favorite_star {
    padding-left: 3px;
    margin-bottom: 10px;
}

a > .favorite_on {
    color: yellow;
    text-shadow: 0px 1px 3px black;
}

a > .favorite_off {
    color: #999999;
}

.question_useronly {
    margin-left: -15px;
}

.question_user {
    background-color: rgba(180,200,220, 0.5);
    padding: 10px;
    overflow: hidden;
}

.question_user_action_time {
    font-size: 85%;
    margin-bottom: 3px;
}
.question_user_image {
    height: 32px;
    width: 32px;
    float: left;
}

.question_user_details {
    margin-left: 35px;
    font-size: 80%;
}