.question_title {
    border-bottom: 1px solid #e0e0e0;
    padding: 40px 0 10px 0;
    margin-bottom: 10px;
    font-size: 150%;
}

.question_contribution {
    display: block;
    font-size: 110%;
    width: 25px;
    text-align: center;
}

.question_content {
    display: block;
    min-height: 200px;
}

.question_useronly {
    margin-left: -15px;
}

.question_user {
    background-color: rgba(180,200,220, 0.5);
    padding: 10px;
    overflow: hidden;
}

.question_user_action_time {
    font-size: 85%;
    margin-bottom: 3px;
}
.question_user_image {
    height: 32px;
    width: 32px;
    float: left;
}

.question_user_details {
    margin-left: 35px;
    font-size: 80%;
}

.how_to_question {
    border: 1px solid #E0DCBF;
    padding: 15px;
    background-color: #FFF8DC;
}

.question_index_list {
    padding: 7px 0 10px;
    border-bottom: 1px solid #e4e6e8;
}
.question_index_content {
    padding-bottom: 5px;
    font-size: 90%;
}

.question_stats_container {
    @media screen and (max-width: 767px) {
        overflow: hidden;
    }
 }

.user-info {
    padding: 5px 6px 7px 7px;
}

.question_index_counts, .question_index_answers, .question_index_favorites {
    width: 55px;
    text-align: center;
    padding: 2px 15px;
    /* 767px以下用（タブレット／スマートフォン用）の記述 */
    @media screen and (max-width: 767px) {
        display: inline-block;
    }
}

.all_questions_count {
    font-size: 150%;
}

.green {
    border: 1px solid green;
    color: green;
}